<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%; color: #514d6a;">
  <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
    <div style="padding: 40px; background: #fff;">
      <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
          <tr>
            <td style="border-bottom:1px solid #f6f6f6;"><h1 style="font-size:14px; font-family:arial; margin:0px; font-weight:bold;">Sayın $userName,</h1></td>
          </tr>
          <tr>
            <td style="padding:10px 0 30px 0;"><p>e-Randevu Sistemi'ndeki kullanıcı hesabın oluşturulmuştur. Aşağıdaki linkten hesabına giriş yapabilirsin.</p>
              <center>
                <a href='http://$serverName:$port/login/patient' style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #00c0c8; border-radius: 60px; text-decoration:none;">Hesabına Git</a>
              </center>
              <b>- Teşekkürler (e-Randevu Sistemi)</b>
            </td>
          </tr>
          <tr>
            <td style="border-top:1px solid #f6f6f6; padding-top:20px; color:#777">Eğer bu e-mail'in yanlışlıkla gelmiş olabileceğini düşünüyorsan görmezden gelebilir ya da bize bildirebilirsin.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>