$gradient: radial-gradient(ellipse at center, $main-color 0%, #008080 100%);
$shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

.gradient {
  background: $gradient;
}

.shadow {
  box-shadow: $shadow;
}

body.page-404 {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;
    h1 {
      font-size: 160px;
    }
    h2 {
      font-size: 30px;
      margin: 10px 0;
    }
    p {
      margin-bottom: 20px;
    }
    .btn-transparent {
      border-radius: 25px;
      padding: 15px 30px;
      margin-right: 15px;
    }
  }
}

.btn-inverse {
  background-color: #333;
  border-color: #333;
  color: $white;
}

.btn-success {
  &:focus {
    color: $white;
  }
}

.btn-primary {
  &:focus {
    color: $white;
  }
}

.btn-info {
  &:focus {
    color: $white;
  }
}

.btn-warning {
  &:focus {
    color: $white;
  }
}

.btn-danger {
  &:focus {
    color: $white;
  }
}

.btn-transparent {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  &:hover {
    color: $white;
    background: rgba(255, 255, 255, .3);
  }
}

.bootstrap-select {
  .btn {
    padding: 9px 25px 9px 12px !important;
    width: 100% !important;
    background: $white;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: 4px;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
    text-transform: initial !important;
    &:focus {
      outline: 0 !important;
      border-bottom-color: $main-color;
    }
  }
  .dropdown-menu.open {
    border-color: $input-border-color;
    background-color: $input-bg;
    border-radius: 4px;
    .bs-searchbox {
      .form-control {
        border: 1px solid $main-color;
      }
    }
    .dropdown-menu.inner {
      background-color: $input-bg;
      li {
        a {
          display: block;
          padding: 5px 10px;
          font-size: 13px;
          color: $input-color;
          &:hover {
            background-color: #ddd;
          }
          &:focus {
            outline: 0;
          }
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
  &.show {
    .dropdown-menu {
      display: block;
    }
  }
}

.form-group {
  position: relative;
  span.error {
    display: none;
  }
  .info-tooltip {
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 18px;
    color: $main-color;
  }
  input[type="password"] {
    padding-right: 35px;
  }
  textarea.form-control {
    height: initial;
    line-height: 20px;
  }
  .forgot {
    color: #444;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-group[data-message]:not([data-message=""]) {
  &::before {
    content: attr(data-message);
    position: absolute;
    top: 7px;
    right: 5px;
    background-color: $black;
    color: $white;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 8.5px;
  }
}

.container-fluid {
  padding: 0 30px 15px 30px;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.global-message {
  display: none;
}

.popover {
  max-width: 300px;
  .popover-content {
    .popover-row {
      margin-bottom: 10px;
      label {
        display: block;
        font-weight: 600;
        margin: 0;
      }
      span {
        font-size: 11px;
      }
    }
    .btn {
      width: 100%;
    }
  }
}

.border {
  &::after {
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    border-radius: 5px;
    background-color: $main-color;
    margin-top: 10px;
  }
}

.custom-radio {
  align-items: center;
  margin: 0;
  .custom-control-indicator {
    background-color: #ddd;
  }
  .custom-control-description {
    font-size: 12px;
  }
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #ddd;
  &::before {
    content: '\f111';
    position: absolute;
    top: 0;
    left: 4.5px;
    font-family: 'FontAwesome';
    color: #2D2D2D;
  }
}

.area-disabled {
  display: flex;
  align-items: center;
  padding-left: 10.5px;
  height: 36px;
  background-color: #e0e1e2;
  color: rgba(0, 0, 0, .6);
  border: 1px solid $input-border-color;
  border-radius: 4px;
  opacity: .45;
  pointer-events: none;
}

.toast {
  padding: 15px 20px;
  color: $white;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -300px;
  right: 30px;
  opacity: 0;
  transition: all 0.4s ease-out;
  z-index: 1051;
}

.toast.error {
  background-color: rgba(244, 67, 54, 0.6);
  color: $white;
}

.toast.info {
  background-color: rgba(139, 195, 74, 0.6);
  color: $white;
}

.card-form {
  margin-top: 50px;
  .card-header {
    background-color: darken($main-color, 10%);
    color: $white;
    text-align: center;
    padding: 20px 10px;
    text-transform: uppercase;
    font-weight: 500;
    i {
      margin-right: 10px;
    }
  }
  .card-block {
    padding: 10px;
    .btn {
      width: 100%;
      text-transform: uppercase;
      padding: 12px 0;
      font-weight: 500;
    }
  }
}

.nav-tabs {
  border: 0;
  .nav-item {
    flex-grow: 1;
    .nav-link {
      border: 0;
      border-radius: 0;
      text-align: center;
      background-color: $main-color;
      color: $white;
      padding: 20px 10px;
      text-transform: uppercase;
      font-weight: 500;
    }
    .nav-link.active {
      background-color: darken($main-color, 10%);
    }
  }
}

.tab-content {
  .tab-pane {
    padding: 10px;
    .form-group-header {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
      text-transform: uppercase;
      padding: 12px 0;
      font-weight: 500;
    }
  }
}

.survey {
  background-color: $white;
  border-radius: 4px;
  border-bottom: 4px solid #ccc;
  .survey-header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
  }
  .survey-block {
    padding: 10px;
    table {
      tbody {
        tr {
          td {
            label {
              position: relative;
              cursor: pointer;
              padding-left: 40px;
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $green;
              }
            }
            input {
              position: absolute;
              z-index: -1;
              opacity: 0;
            }
            input:checked ~ label {
              &::after {
                content: '';
                position: absolute;
                top: 6px;
                left: 6px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $green;
              }
            }
          }
        }
      }
    }
  }
}

.survey-done {
  text-align: center;
  background-color: $white;
  border-bottom: 5px solid #DDDDDD;
  padding: 15px;
  i {
    font-size: 60px;
    color: $green;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
  }
}

.language {
  display: flex;
  align-items: center;
  margin-left: 15px;
  .form-control {
    display: inherit !important;
    align-items: inherit;
    .dropdown-toggle {
      padding: 5px 5px !important;
      width: 50px !important;
      &::after {
        margin-left: -15px;
      }
    }
    .dropdown-menu {
      li {
        a {
          padding: 0 10px !important;
        }
      }
    }
  }
}