$main-color: #18E2BA;
$red: #F44336;
$green: #4CAF50;
$yellow: #FFEB3B;
$blue: #2196F3;
$cyan: #00BCD4;

.error {
  display: block;
  color: $yellow;
  margin: 3px 0;
}

.info {
  display: block;
  color: $yellow;
  margin: 3px 0;
}

.btn-success {
  background-color: $green;
}

.btn-primary {
  background-color: $blue;
}

.btn-warning {
  background-color: $yellow;
}

.btn-danger {
  background-color: $red;
}

.btn-info {
  background-color: $cyan;
}

.bootstrap-select {
  .btn {
    background-color: transparent;
    border: 0;
    color: #fff;
    padding: 11.5px 25px 11.5px 12px !important;
    &:focus {
      outline: 0 !important;
    }
  }
  .dropdown-menu {
    background-color: #fff;
  }
  .dropdown-menu.open {
    .dropdown-menu.inner {
      li {
        a {
          display: block;
          padding: 5px 10px;
          font-size: 14px;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.bootstrap-select.show {
  .dropdown-menu {
    display: block;
  }
}

.container-fluid {
  padding: 0 30px 15px 30px;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.card {
  border: 0;
  border-radius: 0;
  .card-header {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    font-size: 20px;
  }
  .card-block {
    .bootstrap-select {
      .btn {
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #999;
      }
    }
  }
}

.card-login {
  margin-top: 50px;
  .card-header {
    background-color: darken($main-color, 10%);
    color: #fff;
    text-align: center;
    i {
      margin-right: 10px;
    }
  }
  .card-block {
    background-color: $main-color;
    .input-group {
      margin-bottom: 10px;
      .input-group-addon {
        border: 0;
        background-color: darken($main-color, 5%);
        i {
          color: #fff;
        }
      }
      .form-control {
        border: 0;
        background-color: darken($main-color, 5%);
        height: 40px;
        color: #fff;
      }
      ::placeholder {
        color: #fff;
      }
    }
    .form-group {
      .form-control {
        border: 0;
        background-color: darken($main-color, 5%);
        height: 40px;
        color: #fff;
      }
      ::placeholder {
        color: #fff;
      }
      .forgot {
        color: #fff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .btn {
      width: 100%;
      padding: 11.5px 0;
    }
    .bootstrap-select {
      .btn {
        border: 0;
      }
    }
  }
}

.card-unknown {
  margin-top: 50px;
  .card-header {
    background-color: $yellow;
    font-size: 24px;
    text-align: center;
    i {
      margin-right: 10px;
      font-size: 30px;
    }
  }
}