$gradient: radial-gradient(ellipse at center, $main-color 0%, #008080 100%);
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

.gradient {
  background: $gradient;
}

.shadow {
  box-shadow: $shadow;
}

body.page-404 {
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    h1 {
      font-size: 160px;
    }
    h2 {
      font-size: 30px;
      margin: 10px 0;
    }
    p {
      margin-bottom: 20px;
    }
    .btn-transparent {
      border-radius: 25px;
      padding: 15px 30px;
      margin-right: 15px;
    }
  }
}

.btn-success {
  &:hover {
    background-color: $brand-success;
    border-color: $brand-success;
    color: #fff;
  }
}

.btn-primary {
  &:hover {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: #fff;
  }
}

.btn-warning {
  &:hover {
    background-color: $brand-warning;
    border-color: $brand-warning;
    color: #fff;
  }
}

.btn-danger {
  &:hover {
    background-color: $brand-danger;
    border-color: $brand-danger;
    color: #fff;
  }
}

.btn-info {
  &:hover {
    background-color: $brand-info;
    border-color: $brand-info;
    color: #fff;
  }
}

.btn.disabled {
  border: 1px solid $grey;
}

.btn-transparent {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  &:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
  }
}

.bootstrap-select {
  .btn {
    color: $input-color !important;
    padding: 11.5px 25px 11.5px 12px !important;
    border: 0;
    border-bottom: 2px solid lighten($main-color, 20%);
    background-color: $input-bg;
    border-radius: 0;
    font-size: 13px;
    text-transform: initial !important;
    font-weight: 400 !important;
    &:focus {
      outline: 0 !important;
      border-bottom-color: $main-color;
    }
  }
  .dropdown-menu.open {
    border-color: $input-border-color;
    background-color: $input-bg;
    border-radius: 0;
    .dropdown-menu.inner {
      background-color: $input-bg;
      li {
        a {
          display: block;
          padding: 5px 10px;
          font-size: 13px;
          color: $input-color;
          &:hover {
            background-color: #ddd;
          }
          &:focus {
            outline: 0;
          }
        }
      }
    }
  }
}

.bootstrap-select.show {
  .dropdown-menu {
    display: block;
  }
}

.form-group {
  position: relative;
  span.error {
    display: none;
  }
  .form-control {
    border-bottom: 2px solid lighten($main-color, 20%);
    font-size: 13px;
    &:focus {
      border-bottom-color: $main-color;
    }
    ::placeholder {
      font-size: 13px;
    }
  }
  i {
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 18px;
    color: $main-color;
  }
  input[type="password"] {
    padding-right: 35px;
  }
  textarea.form-control {
    height: initial;
  }
  .forgot {
    color: #444;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-group[data-message]:not([data-message=""]) {
  &:before {
    content: attr(data-message);
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 8px;
  }
}

.container-fluid {
  padding: 0 30px 15px 30px;
}

.g-recaptcha {
  margin-bottom: 10px;
}

.global-message {
  display: none;
}

.popover {
  max-width: 300px;
  .popover-content {
    .popover-row {
      margin-bottom: 10px;
      label {
        display: block;
        font-weight: 600;
        margin: 0;
      }
      span {
        font-size: 11px;
      }
    }
    .btn {
      width: 100%;
    }
  }
}

.border {
  &:after {
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    border-radius: 5px;
    background-color: $main-color;
    margin-top: 10px;
  }
}

.custom-radio {
  align-items: center;
  margin: 0;
  .custom-control-indicator {
    background-color: #ddd;
  }
  .custom-control-description {
    font-size: 12px;
  }
}

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #ddd;
  &:before {
    content: '\f111';
    position: absolute;
    top: 0;
    left: 4.5px;
    font-family: 'FontAwesome';
    color: #2D2D2D;
  }
}

.input-disabled {
  display: flex;
  align-items: center;
  padding-left: 10.5px;
  height: 40px;
  background-color: #ECEEEF;
  color: $input-color;
  border: 1px solid $input-border-color;
  cursor: not-allowed;
}

.toast {
  padding: 15px 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -300px;
  right: 30px;
  opacity: 0;
  transition: all 0.4s ease-out;
  z-index: 1051;
}

.toast.error {
  background-color: rgba(244, 67, 54, 0.6);
  color: #fff;
}

.toast.info {
  background-color: rgba(139, 195, 74, 0.6);
  color: #fff;
}

.card-form {
  margin-top: 50px;
  .card-header {
    background-color: darken($main-color, 10%);
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    text-transform: uppercase;
    font-weight: 500;
    i {
      margin-right: 10px;
    }
  }
  .card-block {
    padding: 10px;
    .btn {
      width: 100%;
      text-transform: uppercase;
      padding: 12px 0;
      font-weight: 500;
    }
  }
}

.nav-tabs {
  border: 0;
  .nav-item {
    flex-grow: 1;
    .nav-link {
      border: 0;
      border-radius: 0;
      text-align: center;
      background-color: $main-color;
      color: #fff;
      padding: 20px 10px;
      text-transform: uppercase;
      font-weight: 500;
    }
    .nav-link.active {
      background-color: darken($main-color, 10%);
    }
  }
}

.tab-content {
  .tab-pane {
    padding: 10px;
    .form-group-header {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
      text-transform: uppercase;
      padding: 12px 0;
      font-weight: 500;
    }
  }
}

.survey {
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 4px solid #ccc;
  .survey-header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
  }
  .survey-block {
    padding: 10px;
    table {
      tbody {
        tr {
          td {
            label {
              position: relative;
              cursor: pointer;
              padding-left: 40px;
              &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: darken(#F5F5F5, 10%);
              }
            }
            input {
              position: absolute;
              z-index: -1;
              opacity: 0;
            }
            input:checked ~ label {
              &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #555;
              }
            }
          }
        }
      }
    }
  }
}

.survey-done {
  text-align: center;
  background-color: #fff;
  border-bottom: 5px solid #DDDDDD;
  padding: 15px;
  i {
    font-size: 60px;
    color: $green;
    margin-bottom: 15px;
  }
  p {
    font-size: 18px;
  }
}