.modal {
  z-index: 1080; // tooltip is 1070, this needs to be over tooltip
  .modal-dialog {
    max-width: 400px;
    .modal-content {
      border: 0;
      border-radius: 5px;
      .modal-header {
        padding: 10px 15px;
        background-color: $main-color;
        color: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .modal-body {
        .alert {
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            font-size: 34px;
            margin-bottom: 10px;
          }
        }
        p {
          margin-bottom: 20px;
        }
        .form-group {
          &:last-child {
            margin-bottom: 0;
          }
          label {
            small {
              margin-left: 10px;
            }
          }
          .detail {
            color: $input-color;
            word-wrap: break-word;
            .badge {
              border: 0;
              margin-right: 5px;
              margin-bottom: 2px;
            }
          }
          .input-group {
            margin-bottom: 10px;
            > .form-control {
              flex-grow: 2;
            }
            .input-group-addon {
              padding: 0;
              border: 0;
              flex-basis: 70px;
              .form-control {
                width: 100%;
                border-radius: 0 4px 4px 0;
                border-left: 0;
              }
            }
          }
        }
        .buttons {
          display: flex;
          .btn {
            flex-grow: 1;
            &:first-child {
              margin-right: 5px;
            }
          }
        }
        .comment {
          display: flex;
          flex-direction: column;
          .author {
            display: inherit;
            align-items: center;
            .name {
              color: rgba(0, 0, 0, .87);
              font-weight: 700;
            }
            .date {
              margin-left: 7px;
              color: rgba(0, 0, 0, .4);
              font-size: 10px;

            }
          }
          .text {
            margin: 3px 0 7px;
            color: rgba(0, 0, 0, .87);
            line-height: 1.3;
            max-height: 125px;
            overflow-y: auto;
          }
        }
      }
    }
  }
}
