.modal {
  z-index: 1080; // tooltip is 1070, this needs to be over tooltip
  .modal-dialog {
    max-width: 400px;
    .modal-content {
      border: 0;
      border-radius: 5px;
      .modal-header {
        padding: 10px 15px;
        background-color: $main-color;
        color: $white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      .modal-body {
        .alert {
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            font-size: 34px;
            margin-bottom: 10px;
          }
        }
        p {
          margin-bottom: 20px;
        }
        .form-group {
          &:last-child {
            margin-bottom: 0;
          }
          label {
            small {
              margin-left: 10px;
            }
          }
          .detail {
            color: $input-color;
            word-wrap: break-word;
            .badge {
              border: 0;
              margin-right: 5px;
              margin-bottom: 2px;
            }
          }
        }
        .buttons {
          display: flex;
          .btn {
            flex-grow: 1;
            &:first-child {
              margin-right: 5px;
            }
          }
        }
        .comment {
          display: inherit;
          flex-direction: column;
          width: 100%;
          .btn {
            position: relative;
            display: inherit;
            width: 100%;
            text-align: left;
            margin-bottom: 10px;
            border: 1px solid rgba(34, 36, 38, .15);
            &:hover {
              border-color: #85b7d9;
            }
            &::after {
              content: '\f0d8';
              font-family: "FontAwesome";
              position: absolute;
              top: 10px;
              right: 10px;
            }
            &.collapsed {
              &::after {
                content: '\f0d7';
              }
            }
            .patient {
              margin-right: 15px;
            }
            .detail {
              display: inline-block;
              width: 160px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          p {
            padding: 10px;
            background-color: rgba(34, 36, 38, .07);
            border-radius: 4px;
            font-size: 13px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
