@media (max-width: 1200px) {
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        h2 {
          font-size: 48px;
        }
      }
    }
  }
  .survey {
    .survey-header {
      font-size: 14px;
    }
    .survey-block {
      table {
        tbody {
          tr {
            td {
              label {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .page-wrapper {
    .card {
      .small-card {
        padding: 0 0 15px;
      }
      .card-block {
        .appointment-clocks {
          ul {
            li {
              margin-right: 4px;
            }
          }
          .tab-content {
            max-width: initial;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        max-width: 450px;
        h2 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 10px 10px;
  }
  .navbar-login {
    padding: 0 15px 0 0;
  }
  header {
    .navbar {
      .dropdown {
        order: 2;
      }
    }
    .navbar-toggleable-sm {
      flex-direction: column;
      .mobile-top {
        .navbar-toggler {
          margin-left: auto;
          align-self: center;
          &:focus {
            outline: 0;
          }
        }
      }
      .navbar-collapse {
        width: initial;
        margin-left: initial;
        order: 2;
        .navbar-nav {
          margin-top: 10px;
          .nav-item {
            margin: 0 0 5px;
            width: 100%;
            .nav-link {
              border-radius: 0;
              background-color: transparent;
              color: $black;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        max-width: 260px;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
  .page-wrapper {
    margin-left: 0;
    .page-title {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 -15px 30px;
      padding: 20px 15px;
      .sidebar-toggler {
        display: inline-block;
        border: 0;
        background-color: transparent;
        font-size: 18px;
      }
    }
    .card {
      .card-block {
        .appointment-clocks {
          .lead {
            font-size: 14px;
          }
          .nav-tabs {
            border: 1px solid #D4D4D5;
            border-bottom: 0;
            .nav-item {
              flex-grow: 1;
              border-bottom: 1px solid #D4D4D5;
              .nav-link {
                text-align: center;
                border: 0;
                &.active {
                  border: 0;
                  border-right: 1px solid #D4D4D5;
                  border-left: 1px solid #D4D4D5;
                  background-color: #eee;
                }
              }
            }
          }
        }
      }
      .card-profile {
        .nav-tabs {
          width: 100%;
          flex-direction: row;
          .nav-item {
            margin: 0 0 -1px 0;
            .nav-link {
              &.active {
                background-color: transparent;
                border-right-color: #D4D4D5;
                border-bottom-color: $white;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
        .tab-content {
          width: 100%;
        }
        .btn-save {
          margin: 15px 0 0 0;
          width: 100%;
        }
      }
    }
  }
  nav.sidebar {
    padding-top: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    transition: transform .2s;
    transform: translateX(-100%);
    z-index: 5;
    .brand {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 15px 0;
      .close {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 30px;
      }
    }
  }
  nav.sidebar.active {
    transform: translateX(0);
  }
  .search-form {
    .buttons {
      display: flex;
      .btn {
        flex-grow: 1;
      }
    }
  }
  .modal .modal-dialog .modal-content .modal-body .buttons .btn {
    font-size: 13px;
    padding: 10.5px 0;
  }
  .language {
    margin-left: auto;
    order: 1;
    .form-control {
      width: initial !important;
    }
  }
  .toast {
    right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 30px 15px;
  }
  footer .footer-bottom {
    .container {
      display: flex;
      flex-direction: column;
      .copyright {
        text-align: center;
        margin-bottom: 10px;
      }
      .social-links {
        margin: 0;
      }
    }
  }
}