body {
  height: 100vh;
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

button, select, input.btn {
  cursor: pointer;
}

.form-control {
  height: 40px;
  border: 0;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

button, input, optgroup, select, textarea {
  font-family: 'Poppins', sans-serif;
}

.table {
  th, td {
    border-top: 0;
    border-bottom: 1px solid #eceeef;
    vertical-align: middle;
  }
  thead {
    th {
      font-weight: 300;
    }
  }
}

.btn {
  &:focus {
    box-shadow: none !important;
  }
}