@media (max-width: 1200px) {
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        h2 {
          font-size: 48px;
        }
      }
    }
  }
  .survey {
    .survey-header {
      font-size: 14px;
    }
    .survey-block {
      table {
        tbody {
          tr {
            td {
              label {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .page-wrapper {
    .card {
      .small-card {
        padding: 0 0 15px;
        margin-bottom: 30px;
      }
      .card-block {
        .appointment-clocks {
          ul {
            li {
              margin-right: 4px;
            }
          }
          .tab-content {
            max-width: initial;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        max-width: 450px;
        h2 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
  .page-wrapper {
    .card {
      .card-block {
        .appointment-clocks.active {
          ul {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px 15px;
  }
  .navbar-login {
    padding: 0 15px 0 0;
  }
  .navbar-toggleable-sm {
    flex-direction: column;
    .mobile-top {
      display: inherit;
      .navbar-toggler {
        margin-left: auto;
        align-self: center;
        &:focus {
          outline: 0;
        }
      }
    }
    .navbar-collapse {
      .navbar-nav {
        margin-top: 10px;
        .nav-item {
          margin: 0 0 5px;
          width: 100%;
          border-bottom: 1px solid lighten($main-color, 10%);
          .nav-link {
            border-radius: 0;
            background-color: transparent;
            color: $black;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  .swiper-container .swiper-wrapper {
    .swiper-slide {
      .caption {
        max-width: 260px;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
  .page-wrapper {
    margin-left: 0;
    .page-title {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 0 -15px 30px;
      padding: 20px 15px;
      .sidebar-toggler {
        display: inline-block;
        border: 0;
        background-color: transparent;
        font-size: 18px;
      }
    }
    .card {
      .card-block {
        .appointment-clocks {
          .lead {
            font-size: 14px;
          }
        }
      }
      .card-profile {
        .nav-tabs {
          width: 100%;
          flex-direction: row;
          .nav-item {
            margin: 0 0 -1px 0;
            .nav-link {
              &.active {
                background-color: transparent;
                border-right-color: #D4D4D5;
                border-bottom-color: $white;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 0;
              }
            }
          }
        }
        .tab-content {
          width: 100%;
          .tab-pane {
            .btn {
              margin-top: 15px;
            }
          }
        }
        .btn-save {
          margin: 15px 0 0 0;
          width: 100%;
        }
      }
    }
  }
  nav.sidebar {
    padding-top: 0;
    width: 100%;
    background-color: $white;
    transition: transform .2s;
    transform: translateX(-100%);
    z-index: 5;
    .brand {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 15px 0;
      .close {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 30px;
      }
    }
  }
  nav.sidebar.active {
    transform: translateX(0);
  }
  .search-form {
    .buttons {
      display: flex;
      .btn {
        flex-grow: 1;
      }
    }
  }
  .modal .modal-dialog .modal-content .modal-body .buttons .btn {
    font-size: 13px;
    padding: 10.5px 0;
  }
}

@media (max-width: 576px) {
  .modal-dialog {
    margin: 30px 15px;
  }
  footer .footer-bottom {
    .container {
      display: flex;
      flex-direction: column;
      .copyright {
        text-align: center;
        margin-bottom: 10px;
      }
      .social-links {
        margin: 0;
      }
    }
  }
}