body {
  height: 100vh;
}

body.gradient {
  background: linear-gradient(to bottom, rgba(24, 226, 186, 1) 0%, rgba(9, 88, 72, 1) 100%);
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

button, select, input.btn {
  cursor: pointer;
}
