nav.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  padding-top: 50px;
  overflow-y: auto;
  z-index: 2;
  .brand {
    display: none;
  }
  ul.nav-menu {
    li {
      border-left: 3px solid transparent;
      &:hover {
        border-color: $main-color;
        a {
          background-color: #f8f8f8;
          color: $main-color;
        }
      }
      a {
        display: block;
        padding: 15px 30px 15px 15px;
        i {
          margin-right: 10px;
        }
      }
      &.active {
        border-color: $main-color;
        a {
          i {
            color: $main-color;
          }
        }
      }
    }
  }
}
