.table {
  margin-bottom: 0;
  thead {
    tr {
      th {
        font-weight: 500;
        color: #666;
        border-top: 0;
        border-bottom-width: 1px;
        vertical-align: middle;
      }
    }
  }
  tbody {
    tr {
      td {
        color: #797979;
        vertical-align: middle;
      }
    }
  }
}

.table-vaccine {
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #f2f2f2;
      }
      &:nth-last-child(2) {
        td {
          border-bottom: 1px solid #ECEEEF;
        }
      }
      td {
        border-right: 1px solid #ECEEEF;
        &:first-child {
          border-right: 0;
        }
        &:last-child {
          border-right: 0;
        }
      }
      &.collapse-row {
        cursor: auto;
        &:hover {
          background-color: transparent;
        }
        td {
          padding: 0;
          border: 0;
          .wrapper {
            padding: 10px;
            p {
              font-weight: 300;
              margin-bottom: 10px;
            }
            h3 {
              font-size: 16px;
              margin-bottom: 10px;
              font-weight: 600;
            }
            ul {
              list-style-type: disc;
              padding-left: 40px;
              margin: 15px 0;
              li {
                font-weight: 300;
              }
            }
          }
        }
      }
    }
    tr[aria-expanded="true"] {
      background-color: #F2F2F2;
    }
  }
}

.table-appointment {
  width: 100%;
  tbody {
    tr {
      td {
        .doctor-message {
          display: inline-block;
          width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: default;
        }
        &:last-child {
          text-align: center;
        }
        &:nth-last-child(2) {
          text-align: center;
        }
      }
    }
  }
}
