@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&subset=latin-ext");
*:focus {
  outline: none !important; }

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style-type: none; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }
  a:focus {
    text-decoration: none; }

button, input, optgroup, select, textarea {
  font-family: 'Poppins', sans-serif;
}

button, select, input.btn {
  cursor: pointer; }

.btn {
  border-radius: 0;
  border: 0; }
  .btn:focus {
    box-shadow: none; }

.error {
  display: block;
  color: #FFEB3B;
  margin-top: 5px; }

.info {
  display: block;
  color: #FFEB3B;
  margin: 5px 0; }

.btn-success {
  background-color: #4CAF50;
}

.btn-primary {
  background-color: #2196F3;
}

.btn-warning {
  background-color: #FFEB3B;
}

.btn-danger {
  background-color: #F44336;
}

.btn-info {
  background-color: #00BCD4;
}

.bootstrap-select .dropdown-toggle {
  background-color: transparent;
  border: 1px solid #ddd;
}

.bootstrap-select .dropdown-menu.inner li a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}
  .bootstrap-select .dropdown-menu.inner li a:hover {
    background-color: #ddd; }

.bootstrap-select.show .dropdown-menu {
  display: block; }

.container-fluid {
  padding: 0 30px 15px 30px; }

.g-recaptcha {
  margin-bottom: 10px;
}

.form-group .form-control {
  border-radius: 0;
}

.form-group .forgot {
  color: #fff;
}

.form-group .forgot:hover {
  text-decoration: underline;
}

.card {
  border: 0;
  border-radius: 0;
}
  .card .card-header {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    font-size: 20px;
  }

.card-login {
  margin-top: 50px;
}

.card-login .card-header {
  background-color: #008fa1;
  color: #fff;
  text-align: center;
}

.card-login .card-header i {
  margin-right: 10px;
}

.card-login .card-block {
  background-color: #00BCD4;
}

.card-login .card-block .form-group .form-control {
  border-color: #00BCD4;
}

.card-login .card-block .btn {
  width: 100%;
}

.card-unknown {
  margin-top: 50px;
}

.card-unknown .card-header {
  background-color: #FFEB3B;
  font-size: 24px;
  text-align: center;
}

.card-unknown .card-header i {
  margin-right: 10px;
  font-size: 30px;
}

nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: #00BCD4;
}
  nav.navbar .brand {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    color: #fff;
    background-color: #00a5bb;
    font-size: 20px;
    font-weight: 700; }
  nav.navbar .dropdown {
    height: 50px;
    line-height: 48px;
    margin-right: 30px; }
    nav.navbar .dropdown .dropdown-toggle {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      padding: 0 10px;
      color: #fff;
      height: 100%; }
      nav.navbar .dropdown .dropdown-toggle i {
        margin-right: 5px; }
      nav.navbar .dropdown .dropdown-toggle:hover {
        background-color: #00a5bb;
      }
      nav.navbar .dropdown .dropdown-toggle:focus {
        box-shadow: none; }
      nav.navbar .dropdown .dropdown-toggle:after {
        content: none; }
    nav.navbar .dropdown .dropdown-menu {
      border-radius: 0; }
      nav.navbar .dropdown .dropdown-menu .dropdown-item {
        padding: 0 15px;
        line-height: 20px; }
        nav.navbar .dropdown .dropdown-menu .dropdown-item:hover {
          background-color: #F8F8F8; }
        nav.navbar .dropdown .dropdown-menu .dropdown-item a {
          display: block;
          padding: 10px 0; }
          nav.navbar .dropdown .dropdown-menu .dropdown-item a i {
            margin-right: 5px; }
        nav.navbar .dropdown .dropdown-menu .dropdown-item .btn {
          width: 100%;
          background-color: transparent;
          text-align: left;
          padding: 10px 0; }
        nav.navbar .dropdown .dropdown-menu .dropdown-item:active {
          background-color: #F8F8F8; }

nav.navbar .navbar-collapse .navbar-nav {
  height: 50px;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 0 10px;
  line-height: 50px;
}

nav.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #00b3ca;
}

nav.sidebar {
  position: absolute;
  top: 0;
  width: 220px;
  padding-top: 50px;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08); }
  nav.sidebar ul.nav-menu li {
    border-left: 3px solid transparent; }
    nav.sidebar ul.nav-menu li a {
      display: block;
      padding: 15px 30px 15px 15px; }
      nav.sidebar ul.nav-menu li a i {
        margin-right: 10px; }
      nav.sidebar ul.nav-menu li a:hover {
        background-color: #F8F8F8;
        color: #00BCD4;
      }
  nav.sidebar ul.nav-menu li.active {
    border-color: #00BCD4;
  }
    nav.sidebar ul.nav-menu li.active a i {
      color: #00BCD4;
    }

.page-wrapper {
  margin-left: 220px;
  background-color: #edf1f5; }
