@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&subset=latin-ext");
*:focus {
  outline: none !important; }

html {
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

ul, ol, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style-type: none; }

a {
  color: #000; }
  a:hover {
    text-decoration: none;
    color: #000; }
  a:focus {
    text-decoration: none; }

button, input, optgroup, select, textarea {
  font-family: 'Poppins', sans-serif;
}

button, select, input.btn {
  cursor: pointer; }

.btn {
  border-radius: 0;
  border: 0; }
  .btn:focus {
    box-shadow: none; }

.error {
  display: block;
  color: #FFEB3B;
  margin: 3px 0;
}

.info {
  display: block;
  color: #FFEB3B;
  margin: 3px 0;
}

.btn-success {
  background-color: #4CAF50;
}

.btn-primary {
  background-color: #2196F3;
}

.btn-warning {
  background-color: #FFEB3B;
}

.btn-danger {
  background-color: #F44336;
}

.btn-info {
  background-color: #00BCD4;
}

.bootstrap-select .btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 11.5px 25px 11.5px 12px !important;
}

.bootstrap-select .btn:focus {
  outline: 0 !important;
}

.bootstrap-select .dropdown-menu {
  background-color: #fff;
}

.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}

.bootstrap-select .dropdown-menu.open .dropdown-menu.inner li a:hover {
    background-color: #ddd; }

.bootstrap-select.show .dropdown-menu {
  display: block; }

.container-fluid {
  padding: 0 30px 15px 30px; }

.g-recaptcha {
  margin-bottom: 10px;
}

.card {
  border: 0;
  border-radius: 0;
}
  .card .card-header {
    border: 0;
    border-radius: 0;
    background-color: #fff;
    font-size: 20px;
  }

.card .card-block .bootstrap-select .btn {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #999;
}

.card-login {
  margin-top: 50px;
}

.card-login .card-header {
  background-color: #13b494;
  color: #fff;
  text-align: center;
}

.card-login .card-header i {
  margin-right: 10px;
}

.card-login .card-block {
  background-color: #18E2BA;
}

.card-login .card-block .input-group {
  margin-bottom: 10px;
}

.card-login .card-block .input-group .input-group-addon {
  border: 0;
  background-color: #16cba7;
}

.card-login .card-block .input-group .input-group-addon i {
  color: #fff;
}

.card-login .card-block .input-group .form-control {
  border: 0;
  background-color: #16cba7;
  height: 40px;
  color: #fff;
}

.card-login .card-block .input-group ::placeholder {
  color: #fff;
}

.card-login .card-block .form-group .form-control {
  border: 0;
  background-color: #16cba7;
  height: 40px;
  color: #fff;
}

.card-login .card-block .form-group ::placeholder {
  color: #fff;
}

.card-login .card-block .form-group .forgot {
  color: #fff;
}

.card-login .card-block .form-group .forgot:hover {
  text-decoration: underline;
}

.card-login .card-block .btn {
  width: 100%;
  padding: 11.5px 0;
}

.card-login .card-block .bootstrap-select .btn {
  border: 0;
}

.card-unknown {
  margin-top: 50px;
}

.card-unknown .card-header {
  background-color: #FFEB3B;
  font-size: 24px;
  text-align: center;
}

.card-unknown .card-header i {
  margin-right: 10px;
  font-size: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding: 15px 0;
}

.navbar .brand {
    display: inherit;
  align-items: center;
}

.navbar .dropdown {
  display: inherit;
  align-items: center;
}

.navbar .dropdown .dropdown-toggle {
  background-color: #18E2BA;
      border: 0;
  border-radius: 25px;
  padding: 9px 20px;
  color: #fff;
}

.navbar .dropdown .dropdown-toggle i {
        margin-right: 5px; }

.navbar .dropdown .dropdown-toggle:hover {
  background-color: #16cba7;
}

.navbar .dropdown .dropdown-toggle:focus {
        box-shadow: none; }

.navbar .dropdown .dropdown-toggle:after {
        content: none; }

.navbar .dropdown .dropdown-menu {
      border-radius: 0; }

.navbar .dropdown .dropdown-menu .dropdown-item {
        padding: 0 15px;
        line-height: 20px; }

.navbar .dropdown .dropdown-menu .dropdown-item:hover {
          background-color: #F8F8F8; }

.navbar .dropdown .dropdown-menu .dropdown-item a {
          display: block;
          padding: 10px 0; }

.navbar .dropdown .dropdown-menu .dropdown-item a i {
            margin-right: 5px; }

.navbar .dropdown .dropdown-menu .dropdown-item .btn {
          width: 100%;
          background-color: transparent;
          text-align: left;
          padding: 10px 0; }

.navbar .dropdown .dropdown-menu .dropdown-item:active {
          background-color: #F8F8F8; }

.navbar .navbar-collapse .navbar-nav {
  margin-left: auto;
  align-items: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item {
  margin-right: 10px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: inherit;
  align-items: center;
  color: #fff;
  padding: 7px 20px;
  border-radius: 25px;
  background-color: #18E2BA;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  background-color: #17d9b2;
}

.navbar-login {
  background-color: #18E2BA;
  padding: 0 30px 0 0;
  height: 50px;
  z-index: 1;
}

.navbar-login .dropdown {
  align-items: stretch;
}

.navbar-login .dropdown .dropdown-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  padding: 0 10px;
  color: #fff;
}

nav.sidebar {
  position: absolute;
  top: 0;
  width: 230px;
  padding-top: 50px;
  height: 100%;
  overflow-y: auto;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08); }
  nav.sidebar ul.nav-menu li {
    border-left: 3px solid transparent; }
    nav.sidebar ul.nav-menu li a {
      display: block;
      padding: 15px 30px 15px 15px; }
      nav.sidebar ul.nav-menu li a i {
        margin-right: 10px; }
      nav.sidebar ul.nav-menu li a:hover {
        background-color: #F8F8F8;
        color: #18E2BA;
      }
  nav.sidebar ul.nav-menu li.active {
    border-color: #18E2BA;
  }
    nav.sidebar ul.nav-menu li.active a i {
      color: #18E2BA;
    }

.page-wrapper {
  margin-left: 230px;
  background-color: #edf1f5; }
